@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TitanHelp</h1>
    <p></p>
    <h1 class="display-6">TitanHelp is CEN-4031's' final project</h1>
    <p></p>
</div>

<div class="w3-container w3-border w3-large">
    <div class="w3-left-align"><p>This group project was created by:</p></div>
 </div>

<ul class="w3-ul">
    <li>Shane Madden</li>
    <li>Sean Leigh</li>
    <li>Valentina Diamante</li>
</ul>

<div class="w3-container  w3-large">
    <div class="w3-left-align"><p>TitanHelp is a support ticketing system that allows to create and manage help desk tickets</p></div>
   
</div>